@import "tailwindcss";

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 16s linear infinite;
  transform-origin: center;
}

@media print {
  header, footer, nav, button, .no-print {
    display: none !important;
  }
  body {
    background: white !important;
    color: black !important;
  }
  #printable-campus-poster {
    border: none !important;
    box-shadow: none !important;
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}
